@model AIM.Web.Admin.Models.EntityModels.OpenJob

@{
    ViewBag.Title = "Delete";
    var ActiveUserName = TempData["ActiveUserName"];
    TempData["ActiveUserName"] = ActiveUserName;
    var ActivePermissions = TempData["ActivePermissions"];
    TempData["ActivePermissions"] = ActivePermissions;
}

@if (ActiveUserName != null)
{
    if (ActivePermissions.ToString() == "HiringManager" || ActivePermissions.ToString() == "SystemAdmin" || ActivePermissions.ToString() == "StoreManager")
    {

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OpenJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "OpenJobList", new { item = Model.StoreId })
        </div>
    }
</div>
}
else
{
<div class="container-fluid">

    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12 center login-header" style="margin-bottom: 150px">
                <h2>Welcome to AIM Admin</h2>
                <div class="img-thumbnail">
                    <img src="~/img/AIMTitlePageLogo.png" height="170" width="240" />
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    You are not authorized to view this page.
                </div>

                <section id="loginForm">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
                            <i class="icon-zoom-in icon-white"></i>
                            Home
                        </a>
                    </div>

                </section>

            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->
}
}
else
{
<div class="container-fluid">

    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12 center login-header" style="margin-bottom: 150px">
                <h2>Welcome to AIM Admin</h2>
                <div class="img-thumbnail">
                    <img src="~/img/AIMTitlePageLogo.png" height="170" width="240" />
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    You are not authorized to view this page.
                </div>

                <section id="loginForm">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
                            <i class="icon-zoom-in icon-white"></i>
                            Home
                        </a>
                    </div>

                </section>

            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->
}