@model AIM.Web.Admin.Models.EntityModels.OpenJob

@{
    ViewBag.Title = "Details";
    var ActiveUserName = TempData["ActiveUserName"];
    TempData["ActiveUserName"] = ActiveUserName;
    var ActivePermissions = TempData["ActivePermissions"];
    TempData["ActivePermissions"] = ActivePermissions;

	var message = TempData["Message"] == null ? "" : TempData["Message"].ToString();
}

@if (ActiveUserName != null)
{
    if (ActivePermissions.ToString() == "HiringManager" || ActivePermissions.ToString() == "SystemAdmin" || ActivePermissions.ToString() == "StoreManager")
    {

<h2>Details</h2>

{
	if (message != "")
	{
		<div id="myAlert" class="alert alert-info" style="margin-bottom: 0;" data-alert="alert">
			<strong>Message! </strong> @message
		</div>

		<script type="text/javascript">
			function showAlert() {
				$("#myAlert").addClass("in");
			}

			window.setTimeout(function () { $("#myAlert").alert('close'); }, 2000);
		</script>
	}
}

<div>
	<h4>Job Opening</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Job.Position)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Job.Position)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Store.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Store.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Region.RegionName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Region.RegionName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsApproved)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsApproved)
		</dd>
		

	</dl>

	<a class="btn btn-success" href="@Url.Action("Delete", "OpenJob", new { id = Model.OpenJobsId })">
		<i class="icon-zoom-in icon-white"></i>
		Delete Opening
	</a>

	@if(ViewBag.Approved == false)
	{ 
        if(ActivePermissions.ToString() == "SystemAdmin" || ActivePermissions.ToString() == "StoreManager")
        { 
		<a class="btn btn-success" href="@Url.Action("ApproveOpening", "OpenJob", new { id = Model.OpenJobsId })">
			<i class="icon-zoom-in icon-white"></i>
			Approve Opening
		</a>
        }
	}
	
	@Html.ActionLink("Back to List", "OpenJobList", new { StoreId = Model.StoreId })
</div>



}
else
{
<div class="container-fluid">

    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12 center login-header" style="margin-bottom: 150px">
                <h2>Welcome to AIM Admin</h2>
                <div class="img-thumbnail">
                    <img src="~/img/AIMTitlePageLogo.png" height="170" width="240" />
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    You are not authorized to view this page.
                </div>

                <section id="loginForm">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
                            <i class="icon-zoom-in icon-white"></i>
                            Home
                        </a>
                    </div>

                </section>

            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->
}
}
else
{
<div class="container-fluid">

    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12 center login-header" style="margin-bottom: 150px">
                <h2>Welcome to AIM Admin</h2>
                <div class="img-thumbnail">
                    <img src="~/img/AIMTitlePageLogo.png" height="170" width="240" />
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    You are not authorized to view this page.
                </div>

                <section id="loginForm">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
                            <i class="icon-zoom-in icon-white"></i>
                            Home
                        </a>
                    </div>

                </section>

            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->
}