@model AIM.Web.Admin.Models.EntityModels.Application

@{
    ViewBag.Title = "Details";
    var ActiveUserName = TempData["ActiveUserName"];
    TempData["ActiveUserName"] = ActiveUserName;
    var ActivePermissions = TempData["ActivePermissions"];
    TempData["ActivePermissions"] = ActivePermissions;
}


@if(ActiveUserName != null)
{
	if(ActivePermissions.ToString() == "SystemAdmin" || ActivePermissions.ToString() == "StoreManager" || ActivePermissions.ToString() == "HiringSpecialist")
        {

<h2>Details</h2>

<div>
	<h4>Applicant</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ApplicationId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ApplicationId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ApplicantId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ApplicantId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.JobId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.JobId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DateCreated)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DateCreated)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsDays)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsDays)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsEvenings)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsEvenings)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsFullTime)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsWeekends)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsWeekends)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SalaryExpectation)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SalaryExpectation)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PreEmploymentStatement)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PreEmploymentStatement)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Status)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
	@Html.ActionLink("Back to List", "Index")
</p>
    
}
else
{
<div class="container-fluid">

    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12 center login-header" style="margin-bottom: 150px">
                <h2>Welcome to AIM Admin</h2>
                <div class="img-thumbnail">
                    <img src="~/img/AIMTitlePageLogo.png" height="170" width="240" />
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    You are not authorized to view this page.
                </div>

                <section id="loginForm">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
                            <i class="icon-zoom-in icon-white"></i>
                            Home
                        </a>
                    </div>
                    
                </section>

            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->

}
}
else
{
<div class="container-fluid">

    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12 center login-header" style="margin-bottom: 150px">
                <h2>Welcome to AIM Admin</h2>
                <div class="img-thumbnail">
                    <img src="~/img/AIMTitlePageLogo.png" height="170" width="240" />
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    You are not authorized to view this page.
                </div>

                <section id="loginForm">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
                            <i class="icon-zoom-in icon-white"></i>
                            Home
                        </a>
                    </div>
                    
                </section>

            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->

}