@using AIM.Web.Admin.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
    var userName = TempData["userName"];
    TempData["userName"] = userName;
    var permissions = TempData["Permissions"];
    TempData["Permissions"] = permissions;
}

<!-- This view's content starts HERE-->
<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a><span class="divider">/</span>
        </li>
        <li>
            <a href="@Url.Action("Manage", "Account")">Manage My Account</a>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon-info-sign"></i> MY ACCOUNT</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <h2>Manage My Account</h2>

            <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="col-md-12">
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }

                    @*<section id="externalLogins">
                        @Html.Action("RemoveAccountList")
                        @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                    </section>*@
                </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
