@model AIM.Web.ClientApp.Models.EntityModels.Job

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.JobId)

        <div class="form-group">
            @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position)
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullPartTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullPartTime)
                @Html.ValidationMessageFor(model => model.FullPartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalaryRange, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalaryRange)
                @Html.ValidationMessageFor(model => model.SalaryRange)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionnaireId, "QuestionnaireId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuestionnaireId", String.Empty)
                @Html.ValidationMessageFor(model => model.QuestionnaireId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoursId, "HoursId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HoursId", String.Empty)
                @Html.ValidationMessageFor(model => model.HoursId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterviewQuestionId, "InterviewQuestionId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InterviewQuestionId", String.Empty)
                @Html.ValidationMessageFor(model => model.InterviewQuestionId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
