@model IEnumerable<AIM.Web.ClientApp.Models.EntityModels.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hour.HoursId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewQuestion.InterviewQuestionsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questionnaire.QuestionnaireId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullPartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryRange)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hour.HoursId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterviewQuestion.InterviewQuestionsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Questionnaire.QuestionnaireId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullPartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryRange)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })
        </td>
    </tr>
}

</table>
