<!DOCTYPE html>
<html>
<head>
    <!--
        Charisma v1.0.0\
        Copyright 2012 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0
    -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <meta name="description" content="The description of my page" />


    <!-- The styles -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="~/img/favicon.png">

</head>
<body>
    <!-- topbar starts -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Action("Index", "Home")"> <img alt="AIM Logo" src="~/img/logo20.png" /> <span>A.I.M.</span></a>
                
                <div class="top-nav nav-collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Manage Account")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @*<li>
                            <form class="navbar-search pull-left">
                                <input placeholder="Search" class="search-query span2" name="query" type="text">
                            </form>
                        </li>*@
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- topbar ends -->

    <div id="content">
        @RenderBody()
    </div>

    <footer></footer>

    <!-- external javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Scripts/jquery-ui-1.8.21.custom.min.js"></script>
    <!-- transition / effect library -->
    <script src="~/Scripts/bootstrap-transition.js"></script>
    <!-- alert enhancer library -->
    <script src="~/Scripts/bootstrap-alert.js"></script>
    <!-- modal / dialog library -->
    <script src="~/Scripts/bootstrap-modal.js"></script>
    <!-- custom dropdown library -->
    <script src="~/Scripts/bootstrap-dropdown.js"></script>
    <!-- scrolspy library -->
    <script src="~/Scripts/bootstrap-scrollspy.js"></script>
    <!-- library for creating tabs -->
    <script src="~/Scripts/bootstrap-tab.js"></script>
    <!-- library for advanced tooltip -->
    <script src="~/Scripts/bootstrap-tooltip.js"></script>
    <!-- popover effect library -->
    <script src="~/Scripts/bootstrap-popover.js"></script>
    <!-- button enhancer library -->
    <script src="~/Scripts/bootstrap-button.js"></script>
    <!-- accordion library (optional, not used in demo) -->
    <script src="~/Scripts/bootstrap-collapse.js"></script>
    <!-- carousel slideshow library (optional, not used in demo) -->
    <script src="~/Scripts/bootstrap-carousel.js"></script>
    <!-- autocomplete library -->
    <script src="~/Scripts/bootstrap-typeahead.js"></script>
    <!-- tour library -->
    <script src="~/Scripts/bootstrap-tour.js"></script>
    <!-- library for cookie management -->
    <script src="~/Scripts/jquery.cookie.js"></script>
    <!-- calander plugin -->
    <script src='~/Scripts/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='~/Scripts/jquery.dataTables.min.js'></script>

    <!-- chart libraries start -->
    <script src="~/Scripts/excanvas.js"></script>
    <script src="~/Scripts/jquery.flot.min.js"></script>
    <script src="~/Scripts/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/jquery.flot.stack.js"></script>
    <script src="~/Scripts/jquery.flot.resize.min.js"></script>
    <!-- chart libraries end -->
    <!-- select or dropdown enhancer -->
    <script src="~/Scripts/jquery.chosen.min.js"></script>
    <!-- checkbox, radio, and file input styler -->
    <script src="~/Scripts/jquery.uniform.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="~/Scripts/jquery.colorbox.min.js"></script>
    <!-- rich text editor library -->
    <script src="~/Scripts/jquery.cleditor.min.js"></script>
    <!-- notification plugin -->
    <script src="~/Scripts/jquery.noty.js"></script>
    <!-- file manager library -->
    <script src="~/Scripts/jquery.elfinder.min.js"></script>
    <!-- star rating plugin -->
    <script src="~/Scripts/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="~/Scripts/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="~/Scripts/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="~/Scripts/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="~/Scripts/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    <script src="~/Scripts/charisma.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
