@model IEnumerable<AIM.Web.ClientApp.Models.EntityModels.OpenJob>

@{
    ViewBag.Title = "Index";
}

<h2>
    Job Openings in @ViewBag.RegionName
</h2>

<div>
    @using (Html.BeginForm("Index", "Home"))
    {
        <fieldset>
            <div class="jumbotron">

                <table class="table">
                    <tr>
                        <th></th> <!-- Details button column -->
                        <th>
                            @Html.DisplayNameFor(model => model.Job.Position)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Store.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-success" href="@Url.Action("Details", "OpenJob", new { id = item.OpenJobsId })">
                                    <i class="icon-zoom-in icon-white"></i>
                                    Details
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Job.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Store.Name)
                            </td>
                        </tr>
                    }

                </table>
                @*<p>
                        @Html.ActionLink("Back to Region select", "Index", "Home")
                    </p>*@


            </div>
            <p>
                <input type="submit" value="New Search" class="btn btn-success btn-lg btn-block icon-zoom-in icon-white" />
            </p>
        </fieldset>
    }
</div>