@model AIM.Web.Admin.Models.EntityModels.Question


@{
    ViewBag.Title = "Edit";
    var ActiveUserName = TempData["ActiveUserName"];
    TempData["ActiveUserName"] = ActiveUserName;
    var ActivePermissions = TempData["ActivePermissions"];
    TempData["ActivePermissions"] = ActivePermissions;
}

<!-- This view's content starts HERE-->
@if (ActiveUserName != null)
{
    if (ActivePermissions.ToString() == "StaffingExpert" || ActivePermissions.ToString() == "SystemAdmin")
    {
<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a><span class="divider">/</span>
        </li>
        <li>
            <a href="@Url.Action("Index", "Question")">Questions</a><span class="divider">/</span>
        </li>
        <li>
            <a href="@Url.Action("Edit", "Question")">Edit Question</a>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon-info-sign"></i> QUESTIONS</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <h2>Edit Question</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.QuestionId)
                    @Html.HiddenFor(model => model.QJsonId)
                    @Html.HiddenFor(model => model.QJsonProperties)
                    @Html.HiddenFor(model => model.QuestionnaireId)
                    @Html.HiddenFor(model => model.InterviewQuestionsId)
                    
                    <div class="form-group">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.QJsonType):
                        </label>
                        <div class="form-control">
                            @Html.EnumDropDownListFor(model => model.QJsonType)
                            @Html.ValidationMessageFor(model => model.QJsonType)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.QJsonText):
                        </label>
                        <div class="form-control">
                            <textarea rows="4">@Model.QJsonText</textarea>
                            @Html.ValidationMessageFor(model => model.QJsonText)
                        </div>
                    </div>

                    @for (var i = 0; i < Model.QJsonOptionList.Count(); ++i)
                    {
                        <div class="form-group">
                            <label class="control-label">
                                @Html.DisplayNameFor(model => model.QJsonOptionList) @(i + 1):
                            </label>
                            <div class="form-control">
                                @Html.EditorFor(model => model.QJsonOptionList[i])
                                @Html.ValidationMessageFor(model => model.QJsonOptionList[i])
                            </div>
                        </div>
                    }
                    
                    @for (var i = 0; i < Model.QJsonAnswerList.Count(); ++i)
                    {
                        <div class="form-group">
                            <label class="control-label">
                                @Html.DisplayNameFor(model => model.QJsonAnswerList) @(i + 1):
                            </label>
                            <div class="form-control">
                                @Html.EditorFor(model => model.QJsonAnswerList[i])
                                @Html.ValidationMessageFor(model => model.QJsonAnswerList[i])
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }


            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

}
else
{
<div class="container-fluid">

    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12 center login-header" style="margin-bottom: 150px">
                <h2>Welcome to AIM Admin</h2>
                <div class="img-thumbnail">
                    <img src="~/img/AIMTitlePageLogo.png" height="170" width="240" />
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    You are not authorized to view this page.
                </div>

                <section id="loginForm">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
                            <i class="icon-zoom-in icon-white"></i>
                            Home
                        </a>
                    </div>

                </section>

            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->
}
}
else
{
<div class="container-fluid">

    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12 center login-header" style="margin-bottom: 150px">
                <h2>Welcome to AIM Admin</h2>
                <div class="img-thumbnail">
                    <img src="~/img/AIMTitlePageLogo.png" height="170" width="240" />
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    You are not authorized to view this page.
                </div>

                <section id="loginForm">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
                            <i class="icon-zoom-in icon-white"></i>
                            Home
                        </a>
                    </div>

                </section>

            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->
}